MQTT_BROKER=mqtt://your_mqtt_broker:1883
MQTT_USERNAME=your_mqtt_username
MQTT_PASSWORD=your_mqtt_password
MQTT_TOPIC=sensor/data

ADMIN_PASSWORD=your_admin_password

POSTGRES_HOST=your_database_host
POSTGRES_PORT=5432
POSTGRES_DB=your_database_name
POSTGRES_USER=your_database_user
POSTGRES_PASSWORD=your_database_password
POSTGRES_SCHEMA=machine_monitoring
POSTGRES_SESSION_LOGS_TABLE=mespack_session_logs

APP_PORT=5054

LOG_LEVEL=minimal
MACHINE_DATA_STALE_SECONDS=300
